.button{
    width: 168px;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    &__back{
        margin: 24px 0 32px 16px;
        padding: 0;
        width: 80px;

    }
    &__cta{
        background-color: $green;
        color: $white;
        &--small{
            padding: 12px 32px;
            width: 40px;
            font-size: 12px;
        }
    }
    &__day{
        width: fit-content;
        border-radius: 64px;
        background-color: $white;
        color: $green;
        border: solid 1px $green;
        font-size: 12px;
        margin: 0px 16px 16px 0;
    }
    &__secondary{
        width: 153px;
        background-color: $white;
        color: $dark-green;
        border: solid 1px $dark-green;
        &--small{
            padding: 12px 32px;
            width: 40px;
            font-size: 12px;
        }
        &--back{
            padding: 8px 20px;
        }
    }
    &__margin{
        margin-bottom: 64px;
    }
    &__description{
        padding: 8px 16px;
        width: 100px;
        margin: 0 0 24px 28px;
    }
    &__save{
        color: $white;
        margin-left: 28px;
        padding: 8px 12px;
        margin-top: 24px;
        width: 100px;
        border: none;
    }
}
