@import "~normalize.css";

@import "_variables";
@import "modules/buttons.scss";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  background: $light-green;
  color: $dark-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.button-back{
  margin-bottom: 32px;
}

.container{
  margin: 0 0 0 16px;
}


.days{
display: flex;
flex-wrap: wrap;
}

.h1{
  font-size: 24px;
  font-weight: 700;
  padding: 0 28px;
  margin: 0 0 16px 0;
}

.h2{
  font-weight: 500;
  font-size: 18px;
  padding: 0 28px;
  margin: 0 0 8px 0;
}

.h3{
  font-size: 14px;
  font-weight: 300;
  padding: 0 28px;
  margin: 20px 0 8px 0;
}



.logo{
  margin-top: 32px;
}

.link{
  margin: 0;
}

.main{
  background: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 32px;
    border-radius: 16px;
    &__meal-page{
    justify-content: center;
    align-items: flex-start;
    }
  .meal{
    margin: 32px 16px;
    display: flex;
    flex-direction: column;
    background: #FEFEFE;
    box-shadow: 0px 75px 80px rgba(148, 193, 31, 0.07), 0px 22.6103px 24.1177px rgba(148, 193, 31, 0.0456112), 0px 9.39116px 10.0172px rgba(148, 193, 31, 0.035), 0px 3.3966px 3.62304px rgba(148, 193, 31, 0.0243888);
    border-radius: 16px;
    padding-bottom: 28px;
  }

  .paragraph{
    font-size: 12px;
    font-weight: 500;
    padding: 0 28px;
    margin: 0 0 8px 0;
    color: $dark-green;
    line-height: 14px;
  }
}

.scroll-back{
  width: 32px;
  height: 32px;
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  box-shadow: 0px 46px 80px rgba(148, 193, 31, 0.22), 0px 10.2747px 17.869px rgba(148, 193, 31, 0.131144), 0px 3.05905px 5.32008px rgba(148, 193, 31, 0.0888564);
  &__button{
    scroll-behavior: smooth;
  }
}
